*.log
*.class
*.swp
Libs/TempTestCase*
Libs/TempTestSuite*
bin/lib/TempTestCase*
Reports/
*.txt
*.classpath
*.project
Profiles/Staging.glbl
appium.log
appium-proxy-server.log
bin/
Libs/
Libs/internal/GlobalVariable.groovy
settings/
bin/
bin/lib/internal/GlobalVariable.class
.DS_Store
